USE [STN]
GO
/****** Object:  StoredProcedure [dbo].[PR_CADASTRAR_TRANSACAO]    Script Date: 08/07/2019 11:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_CADASTRAR_TRANSACAO](
    				@IDCARTAO INT,
					@VALORTRANSACAO MONEY,
					@TIPOTRANSACAO VARCHAR(50),
					@NUMEROPARCELAS INT,
					@VALORPARCELA MONEY,
					@TOKEN VARCHAR(100)
					)
AS   
BEGIN

DECLARE @NEWLIMITE MONEY

BEGIN TRANSACTION

SET XACT_ABORT ON

BEGIN TRY

	INSERT INTO TRANSACAO VALUES(
					@IDCARTAO,
					@VALORTRANSACAO,
					@TIPOTRANSACAO,
					@NUMEROPARCELAS,
					@VALORPARCELA,
					@TOKEN)

	SELECT @NEWLIMITE = LIMITE - @VALORTRANSACAO
					 FROM CARTAO 
					 WHERE IDCARTAO = @IDCARTAO

	UPDATE A
	SET LIMITE = @NEWLIMITE
	FROM CARTAO A
	WHERE IDCARTAO = @IDCARTAO

	COMMIT

	END TRY
BEGIN CATCH
 
 BEGIN TRY
	ROLLBACK
 END TRY
 BEGIN CATCH
 END CATCH
 
END CATCH

END
