USE [STN]
GO
/****** Object:  StoredProcedure [dbo].[PR_CADASTRAR_CARTAO]    Script Date: 08/07/2019 11:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_CADASTRAR_CARTAO](
					@NOME VARCHAR(100), 
					@NUMERO BIGINT, 
					@VALIDADE DATE,
					@CODSEGURANCA INT,
					@BANDEIRA VARCHAR(50),
					@TIPOCARTAO VARCHAR(50),
					@PASSWORD VARCHAR(50) NULL,
					@HASPASSWORD BIT,
					@LIMITE MONEY,
					@ATIVO CHAR(1)
					)
AS   
BEGIN

	INSERT INTO CARTAO VALUES(@NOME, 
					@NUMERO, 
					@VALIDADE,
					@CODSEGURANCA,
					@BANDEIRA,
					@TIPOCARTAO,
					@PASSWORD,
					@HASPASSWORD,
					@LIMITE,
					@ATIVO)

END
